<div class = "pb-5">
    <!-- <div class="transform transition duration-100 hover:scale-105"> -->
        <!-- Could add it back if I really want the transformation -->
<app-info-card route="/sevt" title = "Solar Electric Vehicle Team (SEVT)" imgLink = "assets/Gemini.JPG" text = "Co-leading leading the Electrical Engineering subteam of SEVT, a student-run group
that designs, builds, and races a solar-powered vehicle every 2 years at the American Solar Challenge" >

</app-info-card>
<!-- </div> -->
</div>
