<div class = "pb-5">
    <!-- <div class="transform transition duration-100 hover:scale-105"> -->
        <!-- Could add it back if I really want the transformation -->
<app-info-card date="Fall 2022 - Present" route="/sevt" title = "Solar Electric Vehicle Team (SEVT)" imgLink = "assets/Gemini.JPG" text = "Co-leading the Electrical Engineering subteam of SEVT, a student-run group
that designs, builds, and races a solar-powered vehicle every 2 years at the American Solar Challenge" >

</app-info-card>

<app-info-card date="Spring 2023 - Spring 2024" title = "Arcturus (Autonomous Robotics Team)" imgLink = "assets/Buoys.png" text = "
During Fall 2023, we needed image data to fine tune a machine learning model that our robot used to detect buoys. Due to limited resources, we could not get as many pictures as we needed, so I wrote a program that generated 3D buoy objects, placed them in an environment that resembled the ocean, and rotated them while taking hundreds of screenshots. This method generated over 1000 unique data points we could use to train our robot before getting access to real buoy data. 

" >

</app-info-card>
<!-- </div> -->
</div>
