<div class="pb-5 whitespace-pre-line">
  <app-info-card
  [title] = "cards[0].title"
  [imgLink] = "cards[0].imgLink"
  [text] = "cards[0].text"
  class = "whitespace-pre-line"
  >

  </app-info-card>


  <app-info-card
  [title] = "cards[1].title"
  [imgLink] = "cards[1].imgLink"
  [text] = "cards[1].text"
  class = "whitespace-pre-line"
  >

  </app-info-card>
  
    <div class = "text-center mt-1 semidark pt-2 pb-5 px-5 rounded-lg"
    [class]="onMobile ? 'mx-2' : 'mx-20'">
      <p 
      [class]="onMobile ? 'text-lg' : 'text-xl '"
      class = " mb-2 lighttext">Cellboards on Battery</p>
      <div class = "w-10/12 m-auto">
      <!-- <h1 class = "w-full">Hello</h1> -->
    
      <img src="assets/FourCellboardsOnBattery.jpg" class = "w-full mx-auto h-80" >
      
    </div>
  </div>  


  
  <app-info-card
  [title] = "cards[2].title"
  [imgLink] = "cards[2].imgLink"
  [text] = "cards[2].text"
  class = "whitespace-pre-line"
  >

  </app-info-card>
  <div class = "text-center mt-1 semidark pt-2 pb-5 px-5 rounded-lg"
  [class]="onMobile ? 'mx-2' : 'mx-20'">
    <p class = "text-xl mb-2 lighttext">More Motor Videos</p>
  <div class = " m-auto"
  [class]="onMobile ? '' : 'flex'">
    <!-- <h1 class = "w-full">Hello</h1> -->
  
    <video controls height = "300" class = "mx-auto px-5" src = "assets/ShortMotorVideo.mp4"
    [class]="onMobile ? 'w-full' : 'w-1/2'"
    >
    </video>
<br *ngIf="onMobile">

    <video controls height = "300" class = "mx-auto px-5" src = "assets/SpinningWheelsSilent.mp4"
    [class]="onMobile ? 'w-full' : 'w-1/2'"
    >

    </video>
    
  </div>
</div>

<app-info-card
  [title] = "cards[3].title"
  [imgLink] = "cards[3].imgLink"
  [text] = "cards[3].text"
  class = "whitespace-pre-line"
  >

  </app-info-card>


  <app-info-card
  [title] = "cards[4].title"
  [imgLink] = "cards[4].imgLink"
  [text] = "cards[4].text"
  class = "whitespace-pre-line"
  >

  </app-info-card>
    
  <!-- dashboard no breakpoints -->
<div class = "flex mx-20 mt-10 semidark rounded-lg" *ngIf="!onMobile">
  
  <mat-card class = "w-1/2 bg-blue-300 ">
    <mat-card-content style = "text-align:center;" 
    class=" dark h-full rounded-l-lg">
    <p class = "font-medium text-xl mb-2 lighttext">Dashboard and Telemetry</p>
      <div>
          <img src="assets/DashboardFullySoldered.png" class = "w-11/12 mx-auto" >
          <img src="assets/JustXbee.jpg" class="w-11/12 mt-5 mx-auto">
  </div>


    </mat-card-content>
  </mat-card>
  <div class = "w-1/2 m-auto">
  <p class="px-10 text-2xl h-full">
      
      On the right side of the dashboard, there is a blue module labeled "Xbee", which I helped configure and test.
      This is the device we use to
      wirelessly transmit our telemetry from Gemini to our strategy team, which uses this information to
      make decisions about target speeds and charging times.<br>
      On the left, there is another blue device, our GPS module, which I wrote and tested code for to
      allow the strategy team to track our location during the race.
      
      

  </p>
  </div>
</div>

<!-- dashboard with breakpoints -->
<div class = "mx-2 my-5 semidark" *ngIf="onMobile">

  <mat-card class = "w-full rounded-2xl">
    <mat-card-content style = "text-align:center" 
    class= "h-full dark">
      <p class = "lighttext text-lg">Dashboard and Telemetry</p>
      <img src="assets/DashboardFullySoldered.png" class = "w-11/12 mx-auto" >
      <br>
      <img src="assets/JustXbee.jpg" class = "w-11/12 mx-auto" >


    </mat-card-content>
  </mat-card>
  <div class = "w-full m-auto h-full">
  


  <p class="pl-5 text-base h-full py-5 opacity-75">

    On the right side of the dashboard, there is a blue module labeled "Xbee", which I helped configure and test.
    This is the device we use to
    wirelessly transmit our telemetry from Gemini to our strategy team, which uses this information to
    make decisions about target speeds and charging times.<br>
    On the left, there is another blue device, our GPS module, which I wrote and tested code for to
    allow the strategy team to track our location during the race.
    
  </p>
  <div class = "relative w-full text-right flex justify-center transition duration-75 hover:scale-105">
      <p class="w-7/12"></p>
 
  </div>
  </div>
  </div>

  <!-- end of dashboard with -->



<div class = "text-center mt-1 semidark pt-2 pb-5 px-5 rounded-lg"
  [class]="onMobile ? 'mx-2' : 'mx-20'">
    <p class = "text-xl mb-2 lighttext">More Telemetry</p>
  <div class = " m-auto"
  [class]="onMobile ? '' : 'flex'">
    <!-- <h1 class = "w-full">Hello</h1> -->
  
    <img src="assets/Speedometer.jpg" class = "mx-auto px-5"
    [class]="onMobile ? 'w-full' : 'w-1/2'" >
<br *ngIf="onMobile">

    <video controls height = "300" class = "mx-auto px-5" src = "assets/MotorAndTelemetryShort.mp4"
    [class]="onMobile ? 'w-full' : 'w-1/2'"
    >

    </video>
    
  </div>
</div>



<app-info-card
  [title] = "cards[5].title"
  [imgLink] = "cards[5].imgLink"
  [text] = "cards[5].text"
  class = "whitespace-pre-line"
  >

  </app-info-card>

</div>
