
<div class = "pb-5">
    <!-- <div class="transform transition duration-100 hover:scale-105"> -->
        <!-- Could add it back if I really want the transformation -->
<app-info-card date="Fall 2022 - Present" route="/sevt" title = "Solar Electric Vehicle Team (SEVT)" imgLink = "assets/Gemini.JPG" text = "Co-leading the Electrical Engineering subteam of SEVT, a student-run group
that designs, builds, and races a solar-powered vehicle every 2 years at the American Solar Challenge" >

</app-info-card>

<app-info-card date="June 2024 - Present" title="eBay Software Engineering Intern" imgLink="assets/ebaySign.jpg" text="Creating AI tool using LLMs to improve the experience of eBay's sellers">

</app-info-card>

<app-info-card date="Summer 2024" title="Word Search Solver" imgLink="assets/SolvedWordSearch.png" text="Designed a web app, including an automated test suite, grammar, parser,
and abstract data types to take word search puzzles from the user and solve 
them graphically" route="/wordSearch">

</app-info-card>

</div>