<!-- <div class="lighttext opacity-85 flex mx-20 my-5 semidark rounded-2xl text-center">
<h1 class="px-10"> I'm a computer science and engineering student at MIT interested in software development, embedded systems, AI, and robotics.</h1>
</div> -->

<div class = "pb-5">
    <!-- <div class="transform transition duration-100 hover:scale-105"> -->
        <!-- Could add it back if I really want the transformation -->

<app-info-card *ngFor="let card of cards"
[title] = "card.title"
[imgLink] = "card.imgLink"
[text] = "card.text"
[route] = "card.route"
[date] = "card.date"
class = "whitespace-pre-line"
>

</app-info-card>



</div>