<!-- <div class = "flex mx-20 mt-10 semidark">
  
    <mat-card class = "w-1/2 ">
      <mat-card-content style = "text-align:center;" 
      class=" dark h-full">
        <h1 class = "lighttext"></h1>
      <img src="" class = "w-11/12 mx-auto" >
        


      </mat-card-content>
    </mat-card>
    <div class = "m-auto w-1/2">
    <p class="pl-5 text-2xl  h-full ">
        
    </p>

    </div>
      

  </div> -->


<div class = "pb-5">
<app-info-card class="whitespace-pre-line" title="Computation Structures - Operating System Design" imgLink="assets/OS.jpg" text = "Coded in C and Assembly to implement the following features of a small operating system:
Context switching between processes by accessing registers
Switching between user and kernel mode
Addressing exceptions using a trap handler
Conversions between virtual and physical memory
Syscalls">

</app-info-card>

<app-info-card class="whitespace-pre-line" title="Computation Structures - Processor Design" imgLink="assets/Processor.jpg" text="Coded in Hardware Description Language (HDL) to design a RISC-V Central Processing Unit (CPU) with: 
    Arithmetic Logic Unit (ALU) for executing mathematical operations on numbers using boolean logic gates (AND OR, NOT, XOR)
    A four stage pipeline to optimize throughput
    Data and instruction caches with stall behavior while accessing memory
    Bypassing across pipeline stages to prevent unnecessary stalling">

</app-info-card>



<app-info-card route="/ec-project" title = "Encoding Culture - Final Project" imgLink="assets/Paris.jpg" text="
Encoding Culture was a class that focused on applying computer science principles to humanistic research goals. We learned about text, audio, and image analysis, how physical media is digitally encoded, and several machine learning Python tools. For our final project, another student and I worked on an AI querying system for art museums that could recommend art pieces to users based on text descriptions.

">

</app-info-card>


<!--and star battle -->


<!-- Implement later -->
<!-- <app-info-card title="Encoding Culture - AI Querying for Art Museums" imgLink="" text="">

</app-info-card> -->

<app-info-card title="Fundamentals of Programming - LISP Intepreter" imgLink="assets/MoreCode.jpg" text="Used Python coding language to design interpeter for LISP. Implementing the interpreter involved object-oriented programming, splitting the program into several classes that we used to abstract away complicated details. We also designed a tokenizer, recursive descent parser, function frames, symbolic expression evaluation, branches such as if statements, and list processing using the car and cdr architecture.">

</app-info-card>

<!-- Us -->

<!-- Understanding bit representation of variables in C
Using GPIO pins to activate LEDs on a board
Had 7 switches and one button
You set those switches to represent some binary number, then pushed the button
to send that to the controller
Using those LEDs to display certain characters based on switches and button
Getting those characters to move 
-->
<app-info-card title="Programming in C and Assembly - ASCII Lab" imgLink="assets/ScrollingText.mp4" text="
For this project, we set up a circuit to connect a microcontroller to several switches, buttons, and
an LED board. I programmed the microcontroller to read the inputs from the switches and buttons, where the positions of the switches corresponded to a binary number and the button indicated that we wanted to send that number to the controller. We then displayed the ascii character described by that number on the LED board.
We also implemented code to make the text on the LED board scroll, as can be seen in the video.
">


</app-info-card>

<app-info-card title="Fundamentals of Programming - Snekoban Game Solver" imgLink="assets/Grid.jpg" text="
Snekoban was our version of a game where you play as a character that is trying to move boxes around a grid
into certain positions. To make a solver, we represented each state as a node in a graph and used a
breadth-first-search (BFS) to solve the game in the minimum number of moves. Our program had to be optimized
to save the game's state and run the BFS algorithm in a limited amount of time.
">


</app-info-card>


<!-- 

Making a 2D implementation of Mines more stylistic and efficient
Implementing an Nth dimensional version using recursion
Had to realize we needed helper functions for making an Nd board, change an Nd board, find every combination of coordinates to find all neighbors(copied ingredient_mixes), combing the mixes with find_neighbors(not mutual recursion since coord mixes doesn’t call find_neighbors) to find all neighbors, adding a key to the dictionary to track the number of hidden squares, method for accessing a coordinate
Told to add new_game, dig_nd, and render

-->
<!-- <app-info-card title="Fundamentals of Programming - Nth Dimensional Minesweeper" imgLink="" text="...">

</app-info-card> -->

<!-- all projects below, need to sort -->
 <!-- 

Symbolic Algebra
SAT Solver
Autocomplete
Quick sort (because assembly)
Snake game (because user input on the buttons)
Recipes



ImgProc1
ImgProc2

Bacon (because it's snekoban but less impressive)
Bubble sort

Audio
Game of Life



 -->


</div>


