<!-- <div class = "flex mx-20 mt-10 semidark">
  
    <mat-card class = "w-1/2 ">
      <mat-card-content style = "text-align:center;" 
      class=" dark h-full">
        <h1 class = "lighttext"></h1>
      <img src="" class = "w-11/12 mx-auto" >
        


      </mat-card-content>
    </mat-card>
    <div class = "m-auto w-1/2">
    <p class="pl-5 text-2xl  h-full ">
        
    </p>

    </div>
      

  </div> -->


<div class = "pb-5">
<app-info-card class="whitespace-pre-line" title="Computation Structures - Operating System Design" imgLink="assets/OS.jpg" text = "Coded in C and Assembly to implement the following features of a small operating system:
Context switching between processes by accessing registers
Switching between user and kernel mode
Addressing exceptions using a trap handler
Conversions between virtual and physical memory
Syscalls">

</app-info-card>

<app-info-card class="whitespace-pre-line" title="Computation Structures - Processor Design" imgLink="assets/Processor.jpg" text="Coded in Hardware Description Language (HDL) to design a RISC-V Central Processing Unit (CPU) with: 
    Arithmetic Logic Unit (ALU) for executing mathematical operations on numbers using boolean logic gates (AND OR, NOT, XOR)
    A four stage pipeline to optimize throughput
    Data and instruction caches with stall behavior while accessing memory
    Bypassing across pipeline stages to prevent unnecessary stalling">

</app-info-card>

<app-info-card title="Fundamentals of Programming - LISP Intepreter" imgLink="assets/MoreCode.jpg" text="Use Python coding language to design interpeter for LISP.">

</app-info-card>

</div>


