<div class = "flex mx-20 my-5 semidark" >

    <mat-card class = "w-1/2">
      <mat-card-content style = "text-align:center" 
      class= "h-full dark">
        <h1 class = "lighttext">{{title}}</h1>
      <img [src]="imgLink" class = "w-11/12 mx-auto" *ngIf="imgLink.includes('.jpg') || imgLink.includes('.png') || imgLink.includes('.JPG')" >
      <video controls class = "w-11/12 mx-auto px-5" [src] = "imgLink" *ngIf="imgLink.includes('.mp4')"></video>


      </mat-card-content>
    </mat-card>
    <div class = "w-1/2 m-auto h-full">
    <p class="pl-5 text-2xl h-full">

     {{text}}
    </p>
    <div *ngIf="route" class = "relative w-full text-right flex transition duration-75 hover:scale-105">
        <p class="w-7/12"></p>
    <p [routerLink] = "route" class="text-2xl h-full right-0  w-1/3 learn  pr-5 rounded-lg cursor-pointer">

        Learn more
       </p>
    </div>


</div>