<div class="light pb-5">
<!-- <mat-toolbar id = "toolbar">
    <h1 class = "w-full text-center text-white">Word Search Puzzle Web App</h1>
  </mat-toolbar> -->

<div class = "text-center mt-5 semidark mx-20 pt-2 pb-5 px-5 rounded-lg">
    <p class = "font-medium text-xl mb-2">Demo</p>
  <div class = "flex m-auto">
    <!-- <h1 class = "w-full">Hello</h1> -->
  
    <video height = "300" controls class = "w-1/2 mx-auto mt-2 px-5" src = "assets/StarBattleDemo.mp4">
        
    </video>
  
  </div>
</div>  

<app-info-card *ngFor="let card of cards"
[title] = "card.title"
[imgLink] = "card.imgLink"
[text] = "card.text"
[route] = "card.route"
[date] = "card.date"
class = "whitespace-pre-line"

>

</app-info-card>

</div>