/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background:#ede8f5}
.dark {background:#3d52a0c8}
.semidark {background:#7091e6b3}
.light {background:#ede8f5}
.lighttext {color:#ffffff}
#toolbar {background:#adbbda}
.subtoolbar {background:#adbbda89; color:#00000071;}
::ng-deep .mat-tab-label {background:red;color: #3498db;}
