<div class = "flex">
  <div class = "w-1/2 ">
<img src="assets/ProfilePic.jpg" class = "h-3/5 mx-auto rounded-lg mt-5">
</div>
<div class="w-1/2">
<p class="m-auto lighttext text-lg">I'm Youry Moise, a junior studying Computer Science and Engineering at MIT. Outside of classes, my experience includes previous software internships, including one at eBay last summer, leading projects for MIT's Solar Electric Vehicle Team (SEVT), undergraduate research projects, and personal projects. My main interests are software development, embedded systems, and machine learning. 

</p>
</div>
</div>




<!-- <div class = "light h-full"> -->
<!-- <mat-toolbar id = "toolbar">
    <h1 class = "w-full text-center lighttext">Hi! I'm Youry Moise</h1>
  </mat-toolbar>
  <mat-tab-group >
    <mat-tab label="Extracurricular Projects" > 
       -->
        <!-- should figure out the whole routerLink thing eventually -->
        <!-- This solution works for now but reloads the page every time -->
      
<!-- 
   
        
    </mat-tab>


    <mat-tab label="Class Projects"> 
      
    
      



   
        
    </mat-tab>


    <mat-tab label="Internships"> 

            
         




    </mat-tab>




    <mat-tab label="Personal Projects"> 

        <a href = "/wordSearch">
            
          </a>


    </mat-tab>
  </mat-tab-group> -->

<!-- </div> -->