<!-- <div class = "light h-full"> -->
<mat-toolbar id = "toolbar">
    <h1 class = "w-full text-center lighttext">Hi! I'm Youry Moise</h1>
  </mat-toolbar>
  <mat-tab-group >
    <mat-tab label="Extracurricular Projects" > 
      
        <!-- should figure out the whole routerLink thing eventually -->
        <!-- This solution works for now but reloads the page every time -->
      <a href = "/sevt">
      <div class = "flex mx-20 mt-10 semidark" >
  
        <mat-card class = "w-1/2">
          <mat-card-content style = "text-align:center" 
          class= "h-full dark">
            <h1 class = "lighttext">Solar Electric Vehicle Team (SEVT)</h1>
          <img src="assets/Gemini.JPG" class = "w-11/12 mx-auto" >
    
    
    
          </mat-card-content>
        </mat-card>
        <div class = "w-1/2 m-auto h-full">
        <p class="pl-5 text-2xl h-full">
  
          Co-leading the Electrical Engineering subteam of SEVT, a student-run group
          that designs, builds, and races a solar-powered vehicle every 2 years at the American Solar Challenge
          
          <!-- group that designs, builds, and races a solar-powered vehicle every 2 years at the American Solar Challenge. -->
  
        </p>
        
    </div>
    
      </div>
    </a>

   
        
    </mat-tab>


    <mat-tab label="Class Projects"> 
      
    
      <div class = "flex mx-20 mt-10 semidark">
  
        <mat-card class = "w-1/2 ">
          <mat-card-content style = "text-align:center;" 
          class=" dark h-full">
            <h1 class = "lighttext">Computation Structures - Operating System Design</h1>
          <img src="assets/OS.jpg" class = "w-11/12 mx-auto" >
            
    
    
          </mat-card-content>
        </mat-card>
        <div class = "m-auto w-1/2">
        <p class="pl-5 text-2xl  h-full ">
            Coded in C and Assembly to implement the following features of
            a small operating system:<br>
            Context switching between processes by accessing registers<br>
            Switching between user and kernel mode<br>
            Addressing exceptions using a trap handler<br>
            Conversions between virtual and physical memory<br>
            Syscalls 
        </p>

        </div>
          
  
      </div>

      <div class = "flex mx-20 mt-10 semidark">
  
        <mat-card class = "w-1/2 bg-blue-300 ">
          <mat-card-content style = "text-align:center;" 
          class=" dark h-full">
            <h1 class = "lighttext">Computation Structures - Processor Design</h1>
          <img src="assets/Processor.jpg" class = "w-11/12 mx-auto" >

    
    
          </mat-card-content>
        </mat-card>
        <div class = "w-1/2 m-auto">
        <p class="pl-5 text-2xl h-full">
            Coded in Hardware Description Language (HDL) to design a RISC-V Central Processing Unit (CPU) with: <br>
            Arithmetic Logic Unit (ALU) for executing mathematical operations on numbers using boolean logic gates (AND, OR, NOT, XOR)<br>
            A four stage pipeline to optimize throughput<br>
            Data and instruction caches with stall behavior while accessing memory<br>
            Bypassing across pipeline stages to prevent unnecessary stalling

        
          
  
        </p>
    </div>
      </div>

      <div class = "flex mx-20 my-10 semidark">
  
        <mat-card class = "w-1/2 bg-blue-300 ">
          <mat-card-content style = "text-align:center;" 
          class=" dark h-full">
            <h1 class = "text-white">Fundamentals of Programming - LISP Intepreter</h1>
          <img src="assets/Gemini.JPG" class = "w-11/12 mx-auto" >
    
    
    
          </mat-card-content>
        </mat-card>
        <div class = "w-1/2 m-auto">
        <p class="pl-5 text-2xl h-full">
  
        Use Python coding language to design interpeter for LISP.
          
  
        </p>
        </div>
      </div>



   
        
    </mat-tab>


    <mat-tab label="Internships"> 

            <div class = "flex mx-20 mt-10 semidark">
        
              <mat-card class = "w-1/2">
                <mat-card-content style = "text-align:center;" 
                class=" dark h-full">
                  <h1 class = "lighttext font-semibold">eBay Software Engineering Intern</h1>
                <img src="assets/ebaySign.jpg" class = "w-11/12 mx-auto" >
          
          
                </mat-card-content>
              </mat-card>
              <div class = "w-1/2 m-auto h-full">
                <p class="pl-5 text-2xl h-full opacity-80">
        
                Creating AI tool using LLMs to improve the experience of eBay's sellers
               
              </p>
            </div>
            </div>
         




    </mat-tab>




    <mat-tab label="Personal Projects"> 

        <a href = "/wordSearch">
            <div class = "flex mx-20 mt-10 semidark mb-10">
        
              <mat-card class = "w-1/2 ">
                <mat-card-content style = "text-align:center;" 
                class=" dark h-full">
                  <h1 class = "lighttext font-semibold">Word Search Solver</h1>
                <img src="assets/SolvedWordSearch.png" class = "w-11/12 mx-auto" >
          
          
          
                </mat-card-content>
              </mat-card>
              <p class="pl-5 text-2xl w-1/2 h-full pt-32 text-black opacity-80">
        
                Designed a web app, including an automated test suite, grammar, parser,
                and abstract data types to take word search puzzles from the user and solve 
                them graphically

            
        
              </p>
            </div>
          </a>


    </mat-tab>
  </mat-tab-group>

<!-- </div> -->